<div class="container-fluid mt-2">
  <div class="form-group row">
    <form method="post" class="com-form">
      {% csrf_token %}
        <div class="com-form">
          <div class="com-form-text">
            {{ comment_form.as_p }}
          </div>
          <div class="com-form-input">
            {% if request.user.is_authenticated %}
              <input type="submit" value="Отправить" class="btn btn-default">
            {% else %}
              <input type="submit" value="Отправить" class="btn btn-default" disabled>
            {% endif %}
          </div>

        </div>
    </form>
  </div>
</div>