{% extends 'base.html' %}




{% block content %}





<div class="card" id="prof_2" style="margin-top: 40px;">
{#	<img src="{{ request.user.profile.images.url }}" class="my_prof_img">#}
  <h1>@{{ user.username }}</h1>
  <p class="title_profile">{{p_form.phone}}</p>
	<!-- {{p_form.errors}} -->
  <div style="margin: 24px 0;" class="profile_href">
    <a href="#"><i class="fa fa-dribbble"></i></a>
    <a href="#"><i class="fa fa-twitter"></i></a>
    <a href="#"><i class="fa fa-linkedin"></i></a>
    <a href="#"><i class="fa fa-facebook"></i></a>
  </div>

<a href="{% url 'logout_url' %}">
	<button class="profile_button" type="submit" style="border: none;outline: 0;display: inline-block;padding: 8px;color: white;background-color: #000; margin-top:30px; text-align: center;cursor: pointer;width: 100%;font-size: 18px;">Выйти</button>
</a>

</div>

{#    <form action="{% url 'profile_url' %}" method="post" enctype="multipart/form-data">#}
{#            {% csrf_token %}#}
{#            <p>{{ form.non_field_errors }}</p>#}
{#            <p>{{ form.docfile.label_tag }} {{ form.docfile.help_text }}</p>#}
{#            <p>#}
{#                {{ form.docfile.errors }}#}
{#                {{ form.docfile }}#}
{#            </p>#}
{#        {{ form.as_p }}#}
{#            <p><input type="submit" value="Upload" /></p>#}
{#        </form>#}


    <div class="main-comment-section">
          {% include 'user/requests.html' %}
    </div>



{% endblock %}